body {
    background-color: rgb(127, 45, 0);
    background-image: url("pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20%;
    
}
table{
    background-color: rgba(255, 77, 0, 0.434);
    margin-top: 5%;
    font-style: oblique;
    font-weight: bold;
    border-color: black;
    border: 4px solid;
    border-spacing: 5px;
   
}
th{
    border: 2px solid black;
   
}
tr{
    
    background-color: rgba(255, 255, 39,0.311);
    border-color: black;
    
}
td
{
    font-size: x-large;
    background-color: rgba(255, 255, 39,0.311);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding-left: 5px;
    padding-bottom: 5px;
}
textarea
{
    font-style: italic;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.511);
}
input{
    font-weight: bold;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.511);
}